main{
    /* padding: 10px; */
    margin: 10vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 5px solid black;
    
}
.parts{
    height: 100vh;  
    border-top-right-radius: 2rem;

}
#result{
    border-top-right-radius: 2rem;
    border-color: black;
}